body {
    margin: 0;
    padding: 0;
}

.video-container {
    display: flex;
    height: 100vh;
    background: black;
}

video {
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    object-fit: contain;
    margin: auto auto;
}